In [ ]:
#Use of Doc String for making it easy for other developers to follow your code

In [ ]:
def addTwoNumbers(a, b):
 "adds two numbers, given two parameters, a, b"
 return a + b

In [ ]:
addTwoNumbers(4,3)

In [ ]:
help(addTwoNumbers)

Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

Common Assignment Operations 
When you set data to a variable using the "=" sign it is called assignment. An assignment statement 
places a value or the result of an expression into variable(s). The general format of an 
assignment is: 
var = expression 
An expression could be a literal, a calculation based on a simple algebra, a call to a function, or a combination 
of all three.

Python’s four number types are integers, floats, complex numbers, and Booleans:
 Integers—1, –3, 42, 355, 888888888888888, –7777777777 (integers aren’t limited
in size except by available memory)
 Floats—3.0, 31e12, –6e-4
 Complex numbers—3 + 2j, –4- 2j, 4.2 + 6.3j
 Booleans—True, False
You can manipulate them by using the arithmetic operators: + (addition), – (subtrac-
tion), * (multiplication), / (division), ** (exponentiation), and % (modulus).

In [ ]:
#Types of Variables
#Numerical, String, Boolean
#Store 25 into some_number 
some_number = 25 
# Assign a string of characters into a string variable 
some_text = 'lets learn Python' 
print(some_number)
print(some_text)

In [ ]:
# a floating point number 
stock_value_CoalIndia = 229.25 
#create a long string 
Full_Name = 'Mr' + '' +'Nadkalpur ' + ''+ 'Manjunath' 
# a list 
breakfast_menu = ['ham','eggs','mushrooms','omelette'] 
cell_numbers = (9008094006, 99722455525) #use tuple when you expect values not to change aka immutable
# multiple assignment (a=1, b=2, b=3) 
a, b, c = 1,2,4
print(stock_value_CoalIndia, Full_Name,breakfast_menu)
print(a,b,c)
print(cell_numbers)

In [ ]:
#A good way to ensure you are using the correct type of variable is to check type(variable)
#Every variable in Python is actually an object. 
#All variables have a type that can be seen by using the built-in type() function.

type(breakfast_menu)
type(stock_value_CoalIndia)
type(Full_Name)
type(cell_numbers)

#Booleans represent one of two values: True or False.
#In programming you often need to know if an expression is True or False and take a decision
#You can evaluate any expression in Python, and get one of two answers, True or False.
#at its simplest, When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
#Compare two values
a = 100
b = 1

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
print(bool("Hello"))
print(bool(15))

In [ ]:
print(bool("")) #Empty String!
print(bool(15))

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
#Multiple assigment operators
#start by assigning working_hours
working_hours = 25
working_hours+=1
print(working_hours)

working_hours-=23
print(working_hours)

working_hours=30
working_hours/=6
print(working_hours)

working_hours *=2.3
print(working_hours)

 Python Keywords 
 Just as in other programming languages, Python too has reserved some words with defined meanings. This means you must not use these words as variable names. 
Note that they are all lowercase. These are:
    and as assert break
class continue def del
elif else except exec
finally for from global
if import in is
lambda not or pass
print raise return try
while with yield

There are a large number of built-in names that you must not use, except for their 
intended purpose. The cases of True , False , and None are important. The most common 
ones are listed here. 
True False None abs
all any chr dict
dir eval exit file
float format input int
max min next object
open print quit range
round set str sum
tuple type vars zip

In [ ]:
#To display the list of these built-ins, list the contents of the __builtins__ module in the 
#do 
dir(__builtins__)

#This code is present at the bottom of a script. The interpreter loads your program and runs it if necessary. 
if __name__ == '__main__': 
 main()

#What are  Python Modules 
#Python code is usually stored in text files that are read by the Python interpreter at 
#runtime. Often, programs get so large that it makes sense to split them into smaller ones 
#called modules. One module can be imported into others using the import statement. 

import othermod # makes the code in othermod
import mymodule # and mymodule available

In [ ]:
#There are four collection data types in the Python programming language:

#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#What are Sequences: Strings, Lists, and Tuples 
#So far, we have looked at variables that hold a single value. A sequence is a variable that 
#holds multiple values as an array. Each element can be addressed by its position in the 
#sequence as an offset from the first element. The three types of sequence are as follows:
#• Strings : A sequence of characters that together form a text string. 
#• Lists : A sequence of values where each value can be accessed 
#using an offset from the first entry in the list. 
#• Tuples : A sequence of values, very much like a list, but the entries 
#in a tuple are immutable; they cannot be changed. 
#Its useful to study the commong Python features to all sequences and then relook at 
#the three types separately.

In [ ]:
#A list can contain a mixture of other types as its elements, including strings, tuples,
#lists, dictionaries, functions, file objects, and any type of number B.
# A list can be indexed from its front or back. You can also refer to a subsegment, or
#slice, of a list by using slice notation: 
#Index from the front B using positive indices (starting with 0 as the first element).
#Index from the back c using negative indices (starting with -1 as the last element).
#Obtain a slice using [m:n] d, where m is the inclusive starting point and n is the
#exclusive ending point. An [:n] slice e starts at its beginning, and an [m:] slice goes to a list’s end.

x = ["hundred", "thousand", "million", "billion"]
x[0] 
 
x[2] 

x[-1] 
 
x[-2] 
 
x[1:-1] 
 
x[0:3] 
 
x[-2:-1]

In [ ]:
#Some built-in functions (len, max, and min), some operators (in, +, and *), the
#del statement, and the list methods (append, count, extend, index, insert, pop,
#remove, reverse, and sort) operate on lists:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9,11,25,36,67]
len(x) #length of sequence

y= [-1, 0] + x #add to sequence x, set it to y
y
x.reverse() #Reverse sequence
x

#The operators + and * each create a new list, leaving the original unchanged B. A
#list’s methods are called by using attribute notation on the list itself: x.method
#(arguments).  Some of these operations repeat functionality that can be performed with slice
#notation, but they improve code readability.

In [ ]:
#A common check is to determine whether a value exists 'in' a sequence, using the 'in' keyword. For example: 

#'a' in 'trajectory'

#9 in [1,2,3,4,5,6,25]

#'x' not in 'next'
'red' not in ['ash','blue']

In [ ]:
#Two or more sequences can be added together to make longer sequences. The plus sign 
#(+) is used to concatenate strings, lists, or tuples. 
#sequence1 + sequence2 results in a new sequence
'Covid'+'-19'+' Immunity'

In [ ]:
#A string is a sequence of characters that make up a piece of text. Strings are immutable, but 
#you can update the value of a string by assigning a new string to the same string variable. 
football_club_venue = 'Bernabau Stadium' 
football_club_venue=football_club_venue.lower() # updates football_club_venue  
football_club_venue
football_club_venue=football_club_venue.upper() # updates football_club_venue  
football_club_venue

In [ ]:
 #Special Characters and Escaping 
 #A string can contain nonprinting and control characters (e.g., tab, newline, and other 
#special characters) by “ escaping ” them with a backslash (\). Common escape characters 
#are the following: 
#\0 Null character 
#\t Horizontal tab 
#\n Newline character 
#\' Single quote 
#\" Double quote 
#\\ Backslash 
#multiplelines='Line 1\nLine 2\nLine 3' 
multiplelines='Line 1\nLine 2' 
print(multiplelines)

The percent ( % ) operator provides string formatting functionality. 

formatstring % (arguments to format)

%c Single character/string of length 1

%s String

%d Signed decimal integer

%f Floating point number

%% Percent character

In [125]:
telecom_towers = 200 
service_provider='QuickTel' 
'%s has %d telecom towers in Mysore city' % (service_provider,telecom_towers)

'QuickTel has 200 telecom towers in Mysore city'

In [ ]:
cannon_length = 32.23189
'cannon_length= %.3f cm' % cannon_length #.2f two decimal places
#Lab session

In [ ]:
telecom_towers = 200 
city_revenue = 212.35
service_provider='QuickTel' 
'%s which has %d telecom towers in Mysore city, made %f lakhs in revenue' % (service_provider,telecom_towers,city_revenue)

In [ ]:
#String Functions 
#There are a large number of built-in string functions. they do not make changes to 
#strings because strings are immutable.They return a new string

text = 'Writetext'
nums = 'A19982737456'

# finding bits of strings inside the text variable
print(text.find('xt')) #finds so at the first match, index 10
print(text.find('W')) #finds so at the first match, index 0
print(text.find('w')) #Why -1?
print(text.find('your')) #why -1?
nums.isdigit()

In [ ]:
txt = "company genius"

x =txt.isalpha()

print(x)

In [ ]:
txt = "Company Genius"

x =txt.isalpha()

print(x) #Check if all the characters in the text are letters:since there is a space you get False

In [ ]:
# concatenation of strings
text = 'Writetext'
nums = 'A19982737456'


':'.join((text,nums)) #immediate join no space,
#' '.join((text,nums)) # join with a space character in the middle

In [ ]:
# case changing

text = 'Writetext what is my case'
text.upper()
#text.lower()

In [ ]:
#The split() method splits a string into a list.
text = 'what is the time'
text.split(' ') #Pass a separator, space

In [ ]:
# substitution
text.replace('is','was')

In [ ]:
# stripping
text = '  what is the time  '
#text.rstrip()
#text.lstrip()
text.strip()

In [ ]:
#The purpose of a list is to store values that are collected and processed in sequence, such as 
#lines of text read from or written to a text file, or where prepared values are looked up by 
#their position or offset in the array. 
#You will find yourself using list of the time

In [ ]:
#Creating Lists is straighforward. You stick in strings within quotes and enclosed in square brackets
look_up_list = [] #empty list
famous_footballers=['Zidane','Maradona','Messi', 'Pele']
mixed_list = [1,2,3,'four']
embedded_list = [1,2,3,[4,5,6]]

In [ ]:
#You can find the length of lists using the len() function. The length is the number 
#of elements in the list. The last element index of a list mylist would be accessed as 
#some_list[len(some_list)-1]. 
l = len(famous_footballers)

In [ ]:
print(l)

In [ ]:
print(famous_footballers[len(famous_footballers)-4])

In [ ]:
#Values in the preceding lists are accessed as shown in the following code fragments. 
famous_footballers[1]

In [ ]:
#mixed_list[0]
#mixed_list[3]
mixed_list[1:4]

In [ ]:
#embedded_list[2]
embedded_list[3]
#embedded_list[3][2]

In [ ]:
#If you try to access a nonexistent element in the list, you will get a 'list index out 
#of range' error. 
famous_footballers[5]

In [ ]:
#Updating Lists 
# Use the append() method to add entries to the end of a list. Use the del statement to 
#delete an entry. For example: 
look_up_list = [] #empty list
look_up_list.append('Good')
look_up_list.append('Bad')
look_up_list.append('Ugly')

#Change an entry
#mylist[1]='Bill'
#Delete an entry
#del mylist[1]

In [ ]:
look_up_list

In [ ]:
#Change an entry in the list
look_up_list[1]='Smooth'
look_up_list

In [ ]:
#Delete an entry in the list
del look_up_list[1]
look_up_list

In [ ]:
#Learn Indexing because the membership (in, not in) operators return a Boolean True or False , but the 
#index() method finds an entry in your list and returns the offset of that entry. If the entry 
#cannot be found, it returns an error. 
famous_footballers=['Zidane','Maradona','Messi', 'Pele']
famous_footballers.index('Pele')
#famous_footballers.index('Beckham')

In [ ]:
#Sequence Operations and Functions such as len(), max(), min(), sum(), sorted() and 
#reversed() —all work as expected. 
famous_footballers=['Zidane','Maradona','Messi', 'Pele']
l = len(famous_footballers) 
print(l)
m= max (famous_footballers)
print(m)
n= min(famous_footballers)
print(n)
#p= sum(famous_footballers)
#print(p)
neat_seq = sorted(famous_footballers)
print(neat_seq)
famous_footballers.reverse()
print(famous_footballers)

In [ ]:
list2.reverse()
print(list2)

In [ ]:
#Controlling the flow of script execution
#We often need need to make decisions and choices in a program to interpret the data
#this is done using if, elseif, and while statements.

#The if Statement 
#if statements test a condition. The normal format of an if
#statement is: 

if test: condition # note the colon, then execute statements below. 
    
 statement1 # If the test is true, statements following the 

 statement2 # if keyword are indented and executed 
    
 statement3

In [ ]:
#Python supports multiple logical conditions from algebra:
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b
#These conditions can be used in several ways, most commonly in "if statements" and loops.
#Develop an intuitive feel for the 'if-logic' flow

price = 600
if price > 500: # test the condition to evaluate to True or False. 
 print("Yes it is!")
else: # note the colon after 'else' 
 print("No it is not!")

In [ ]:
#Develop an intuitive feel for the 'if-logic' flow
price = 600
if price > 500: # test the condition to evaluate to True or False. 
 #yes_it_is() #write a function yes_it_is() if needed... if test=True 
 print("Yes it is!")
else: # note the colon after 'else' 
 #no_it_is_not() #write a function no_it_is_not() if needed... if test=False
 print("No it is not!")

In [ ]:
#the else-if example
population_India_Millions = 900
population_USA_Millions = 200

if population_USA_Millions > population_India_Millions :
  print("US has greater population than India")
elif population_USA_Millions == population_India_Millions:
  print("US, India population are equal")
else:
  print("India has greater population than US")

In [ ]:
#Python is very versatile and gives you a few shorthand options

In [ ]:
#Short Hand If ... Else
#suppose you have only one statement to execute, one for if, and one for else, you can put it all on the 
#same line:
population_India_Mills = 900
population_USA_Mills = 200

print("India has bigger population than USA") if population_India_Mills > population_USA_Mills else print("US has bigger population than India")

In [ ]:
#if statements cannot be empty, sometimes while you are figuring out the logicin an if statement
#with no content, put in the pass statement to avoid getting an error.
#The pass statement is a “do nothing”.pass is often useful to show explicitly what the program 
#is doing (or not doing). 
schools = 10
students = 4500

if students > schools:
  pass

In [ ]:
#Decisions can be nested though indented code blocks of other decisions. For example: 
#seeking a driver's license with and without criminal conviction
car_in_condition = 'TRUE'
#no_criminal_record = 'TRUE'
no_criminal_record = 'FALSE'
age = 20

if age>18: 
 if car_in_condition=='TRUE': 
  if no_criminal_record=='TRUE': 
   print("Issue Licence") 
  else: print("Alert Police")

In [ ]:
#Greatest productivity in programming comes through performing activities repetitively to process
#a number of statements, including the following:
#• Lists of values in a spreadsheet. 
#• Entries in a dictionary (a kind of special list). 
#• Rows of data in a database. 
#• Lines of text in a file. 
#Called loops , they execute a code block repeatedly on some item of data until some condition is met (or not met).
#These loops are #implemented using for and while statements.

In [ ]:
#The for statement acts as a header statement for a code block that is to be executed until 
#some condition is met. The for statement operates on an iterable set of elements, often a 
#sequence. 
theATeam=['Messi','Pele','Maradona','Ronaldo','Beckham'] 
neat_team = sorted(theATeam) 
print(neat_team)
for player in neat_team: 
 print('%s is in the team' % player)

In [ ]:
#A for loop is used for iterating over a sequence (that is either a list,
#a tuple, a dictionary, a set, or a string).

In [ ]:
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday", "Sunday"]
for days in week_days:
  print(days)

In [ ]:
#With the break statement we can stop the loop before it has looped through all the items:
#Stop on Thursday
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday", "Sunday"]
for days in week_days:
  print(days)
  if days == "Thursday":
   break

In [ ]:
#The continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next:
#in this case skip printing Thursday
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday", "Sunday"]
for days in week_days:
  
  if days == "Thursday":
   continue
  print(days)

In [ ]:
#The while Loop
#With the while loop we can execute a set of statements as long as a condition is true.
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  print(Indian_Covid_Cases)
  Indian_Covid_Cases += 1

In [ ]:
#The break Statement
#With the break statement we can stop the loop even if the while condition is true:
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  print(Indian_Covid_Cases)
  if Indian_Covid_Cases == 2022:
   break
  Indian_Covid_Cases += 1

In [ ]:
#The continue Statement
#With the continue statement we can stop the current iteration, and continue with the next:
#Here we stop at Year 2022 and continue
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  Indian_Covid_Cases += 1
  if Indian_Covid_Cases == 2022:
   continue
  print(Indian_Covid_Cases)

 Dictionaries 
 If we want our program to remember a collection of values, we can use lists and we can 
access the entries using the index to those values. To find the value we want, though, we 
must know the offset to that value (or search for it). 
 Dictionaries provide a lookup facility based on key/value pairs. The order of the entries 
in a dictionary is not defined (in fact, it is somewhat random), but every entry can be retrieved 
by using its key. Keys must be unique; there can only be one entry in a dictionary for each key.

In [ ]:
 #Creating a Dictionary 
 #You can create a dictionary using a set of key/value pairs. 
# days of week – yields seven key-value pairs 
week_days={'M':'Monday','T':'Tuesday', 'W':'Wednesday','Th':'Thursday', 'F':'Friday','Sa':'Saturday', 
'Su':'Sunday'} 
#Find a week day with key: 'Sa'
week_days['T'] 
len(week_days)
#week_days['W'] 

#week_days['Sa']

In [ ]:
type(week_days)

In [ ]:
#Creating and Updating a Dictionary 
#You can update dictionaries using the dict[key] convention. 
fifa_dict = {} # empty dictionary 
fifa_dict['1st'] = 'Uruguay' # add 1st entry 
fifa_dict['2nd'] = 'Italy'# add 2nd entry 
fifa_dict['3rd'] = 'Brazil' # add 3rd entry 
fifa_dict['4th'] = 'Argentina' # add 4th entry
fifa_dict['5th'] = 'England' # add 5th entry
fifa_dict['6th'] = 'Germany' # add 6th entry
fifa_dict['7th'] = 'Spain' # add 7th entry
fifa_dict['8th'] = 'France' # add 8th entry

#del newdict['2nd'] # delete 2nd entry 
len(fifa_dict) # 1

In [ ]:
fifa_dict

In [ ]:
#Some entries add and delete
fifa_dict['1st'] = 'India' # update 1st entry 
#del fifa_dict['2nd'] # delete 2nd entry 
len(fifa_dict) # 1 
fifa_dict

In [ ]:
#Dictionary Operations 
# The sequence operators—comparisons, membership, and concatenation—all work as 
#expected. Here are a few dictionary operations that you might find useful: 
# days of week – seven key/value pairs 
# key existence 
'8th' in fifa_dict 
#'11th' in fifa_dict

In [ ]:
#Creating and Updating a Dictionary 
#You can update dictionaries using the dict[key] convention. 
fifa_dict = {} # empty dictionary 
fifa_dict['1st'] = 'Uruguay' # add 1st entry 
fifa_dict['2nd'] = 'Italy'# add 2nd entry 
fifa_dict['3rd'] = 'Brazil' # add 3rd entry 
fifa_dict['4th'] = 'Argentina' # add 4th entry
fifa_dict['5th'] = 'England' # add 5th entry
fifa_dict['6th'] = 'Germany' # add 6th entry
fifa_dict['7th'] = 'Spain' # add 7th entry
fifa_dict['8th'] = 'France' # add 8th entry

#del newdict['2nd'] # delete 2nd entry 
len(fifa_dict) # 1

In [ ]:
#show the list of keys in a dictionary
# create list of keys 
fifa_dict.keys()

In [ ]:
#similarly create an iterable list of values in a dictionary
fifa_dict.values()

In [ ]:
#More Dictionaries
#Dictionary items are ordered, changeable, and does not allow duplicates.
#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
#Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.#
#Duplicates Not Allowed: Dictionaries cannot have two items with the same key:
#The values in dictionary items can be of any data type:
mobile_dict = {
  "brand": "Google Pixel",
  "5G": True,
  "year": 2022,
  "colors": ["white", "black", "blue"]
}

In [ ]:
print(mobile_dict)

In [ ]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:
x = mobile_dict["brand"]

In [ ]:
mobile_dict.keys()

In [ ]:
#There is also a method called get() that will give you the same result:
#Get the value of the "brand" key:

print(mobile_dict.get("brand"))

In [ ]:
#the keys() method will return a list of all the keys in the dictionary.
print(mobile_dict.keys())

In [ ]:
mobile_dict.values()

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

mobile_dict["model"] = "Pixel 7a"
mobile_dict["price"] = "Rs.50k"

In [ ]:
print(mobile_dict.keys())

In [ ]:
#The values() method will return a list of all the values in the dictionary.
print(mobile_dict.values())

In [ ]:
#Get Items
#The items() method will return each item in a dictionary, as tuples in a list.
print(mobile_dict.items())

In [ ]:
#Check if Key Exists: To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
if "model" in mobile_dict:
  print("Yes, 'model' is one of the keys in the mobile_dict dictionary")

In [ ]:
#The del keyword removes the item with the specified key name:

del mobile_dict["model"]
print(mobile_dict)

In [ ]:
#del mobile_dict # delete dictionary fully
mobile_dict.clear()

In [ ]:
print(mobile_dict)

In [ ]:
#Print all key names in the dictionary, one by one:
mobile_dict = {
  "brand": "Google Pixel",
  "5G": True,
  "year": 2022,
  "colors": ["white", "black", "blue"]
}

for x in mobile_dict:
  print(x)

In [ ]:
#Print all values in the dictionary, one by one:

for x in mobile_dict:
  print(mobile_dict[x])

In [ ]:
#you can also use the values() method to return values of a dictionary:

for x in mobile_dict.values():
  print(x)

In [ ]:
#you can use the keys() method to return the keys of a dictionary:

for x in mobile_dict.keys():
  print(x)

In [ ]:
#Loop through both keys and values, by using the items() method:

for x, y in mobile_dict.items():
  print(x, y)

In [ ]:
#Make a copy of a dictionary with the copy() method:

In [ ]:
cell_dict = mobile_dict.copy()
print(cell_dict)

In [ ]:
#Make a copy of a dictionary with the dict() function:
cell_dict = dict(mobile_dict)

In [ ]:
print(cell_dict)

In [ ]:
#Nested Directory
thefamily = {
  "child1" : {
    "name" : "Pranav",
    "year" : 2004
  },
  "child2" : {
    "name" : "Pooja",
    "year" : 2007
  },
  "child3" : {
    "name" : "Dev",
    "year" : 2011
  }
}

In [ ]:
print(thefamily)

In [123]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Pranav",
  "year" : 2004
}
child2 = {
  "name" : "Pooja",
  "year" : 2007
}
child7 = {
  "name" : "Dev",
  "year" : 2020
}
child5 = {
  "name" : "Dave",
  "year" : 1997
}    


thefamily = {
  "child1" : child1,
  "child2" : child2,
  "child7" : child7,
  "child5" : child5
}

In [124]:
print(thefamily)

{'child1': {'name': 'Pranav', 'year': 2004}, 'child2': {'name': 'Pooja', 'year': 2007}, 'child7': {'name': 'Dev', 'year': 2020}, 'child5': {'name': 'Dave', 'year': 1997}}

In [113]:
child3["year"] = 2022

In [110]:
print(thefamily)

{'child1': {'name': 'Pranav', 'year': 2004}, 'child2': {'name': 'Pooja', 'year': 2007}, 'child3': {'name': 'Dev', 'year': '2022'}}

In [114]:
type(child3["year"])

int