In [ ]:
l=[1,2,3]
def prod(x):
    return x*x
r=list(map(prod,l))
print(r)

In [ ]:
print(list(map(lambda x:x*x,l)))

In [ ]:
print(list(map(str.upper,["apple",'ball','cat'])))

In [ ]:
num =[1,2,3,4]
sq=[n*n for n in num]
print(sq)

In [ ]:
n_letter = [letter for letter in "python"]
print(n_letter)

In [ ]:
cars=['jaguar','landrover','bugatti','tesla','toyota']
newlist=[]
for x in cars:
    if 's' in x:
        newlist.append(x)
print(newlist)

In [ ]:
even=[x for x in range(1,21) if x%2==0]
print(even)

In [ ]:
odd=[x for x in range(1,20) if x%2!=0]
print(odd)

In [ ]:
cars=['jaguar','landrover','bugatti','tesla','toyota']
newlist=[x if x!='tesla' else 'audi' for x in cars]
print(newlist)

In [ ]:
def greet():
    print("hi how are you doing?")

In [5]:
import mysql.connector
conn_obj=mysql.connector.connect(host="localhost",user="root",passwd="123456")
cur=conn_obj.cursor()
cur.execute("show databases")
#cur.execute("CREATE DATABASE pgdbda")
for i in cur:
    print(i)

('books',)
('davaindia',)
('information_schema',)
('mysql',)
('netflix',)
('performance_schema',)
('pgdbda',)
('sakila',)
('sys',)
('test',)
('transport',)
('world',)

In [ ]:
import mysql.connector
conn_obj=mysql.connector.connect(host="localhost",user="root",passwd="123456",database="pgdbda")
cur=conn_obj.cursor()
q="create table student(rollno int primary key,sname varchar(30),branch varchar(20))"
cur.execute(q)

In [ ]:
q="insert into student values(%s,%s,%s)"
v=(110,"ketan","mech")
cur.execute(q,v)

In [ ]:
conn_obj.commit()

In [7]:
import mysql.connector
conn_obj=mysql.connector.connect(host="localhost",user="root",passwd="123456",database="pgdbda")
cur=conn_obj.cursor()
q="insert into student values(%s,%s,%s)"
v=[(101,'rushi','bams'),(102,'abhisheikh','civil'),(103,'vinod','cs')]
#v=(120,"dhiraj","electrical")
#cur.execute(q,v)
cur.executemany(q,v)
conn_obj.commit()

In [ ]:
q="select * from student where sname like '%ir%'"
cur.execute(q)
for i in cur:
    print(i)

In [2]:
v=[(101,'rushi','bams'),(102,'abhisheikh','civil'),(103,'vinod','cs')]
cur.execute(q)

NameError: name 'q' is not defined

In [3]:
import mysql.connector