In [1]:
l=[1,2,3]
def prod(x):
    return x*x
l1=[]
for i in l:
    x=prod(i)
    l1.append(x)
print(l1)

[1, 4, 9]

In [3]:
l=[1,2,3]
def prod(x):
    return x*x
r=list(map(prod,l))
print(r)

[1, 4, 9]

In [4]:
l=[1,2,3]

print(list(map(lambda x:x*x,l)))

[1, 4, 9]

In [5]:
print(list(map(str.upper,['Apple','Ball','cat'])))

['APPLE', 'BALL', 'CAT']

In [6]:
li=["java","python"]
newli=map(lambda x:len(x),li)
print(list(newli))

[4, 6]

In [7]:
num=[1,2,3,4]
sq=[n*n for n in num]
print(sq)

[1, 4, 9, 16]

In [8]:
n_letters=[letter for letter in "Python" ]
print(n_letters)

['P', 'y', 't', 'h', 'o', 'n']

In [9]:
cars=['Jaguar','Landrover','Tesla','Toyota','Tata']
newlist=[x for x in cars if 's' in x]
print(newlist)

['Tesla']

In [10]:
even=[x for x in range(1,21) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
cars=['Jaguar','Landrover','Tesla','Toyota','Tata']

newlist=[x if x!='Tesla' else 'Audi' for x in cars ]
print(newlist)

['Jaguar', 'Landrover', 'Audi', 'Toyota', 'Tata']

In [14]:
numbers=[i%2==0 for i in range(1,21)]
print(numbers)

[False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [16]:
import mysql.connector
conn_obj=mysql.connector.connect(host="localhost",user="root",passwd="")
cur=conn_obj.cursor()
cur.execute("create database pgdbda")
cur.execute("show databases")
for i in cur:
    print(i)

('information_schema',)
('cdacdb',)
('classicmodels',)
('company',)
('demo',)
('employeedb',)
('fkdemo',)
('fullstack',)
('mysql',)
('performance_schema',)
('pgdac',)
('pgdbda',)
('pydb',)
('salesdb',)
('shoppingcart',)
('sys',)
('test',)
('tklms',)
('webtech',)

In [17]:
import mysql.connector
conn_obj=mysql.connector.connect(host="localhost",user="root",passwd="",database="pgdbda")
cur=conn_obj.cursor()
q="create table student(rollno int primary key,sname varchar(30),branch varchar(20))"
cur.execute(q)

In [18]:
q="insert into student values(%s,%s,%s)"
v=(100,'Akshay','Mech')
cur.execute(q,v)

In [19]:
v=[(101,'Vaibhav','Civil'),(102,'Harshada','ECE'),(103,'Poonam','CSE'),(104,'Sarath','Mech')]
cur.executemany(q,v)

In [20]:
q="update student set branch='CS' where rollno=104"
cur.execute(q)

In [21]:
q="delete from student where rollno=103"
cur.execute(q)

In [26]:
q="select * from student where sname like '%sh%'"
cur.execute(q)
for i in cur:
    print(i)

(100, 'Akshay', 'Mech')
(102, 'Harshada', 'ECE')