In [3]:
import numpy as np
a=np.arange(6)
a2=a[np.newaxis,:]
a2.shape
(1,6)

(1, 6)

pandas

In [4]:
import pandas as pd
data1=[0,1,2,3,4,5]
mydataset ={
    'cars':["BMW","VOLVO","FORD"],
    'Passings':[3,7,2]
}
myseries=pd.Series(data1)
myvar=pd.DataFrame(mydataset)
mydata1=pd.DataFrame(data1)

print(myseries)
print("-"*100)
print(myvar)
print("-"*100)
print(mydata1)
print("-"*100)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
----------------------------------------------------------------------------------------------------
    cars  Passings
0    BMW         3
1  VOLVO         7
2   FORD         2
----------------------------------------------------------------------------------------------------
   0
0  0
1  1
2  2
3  3
4  4
5  5
----------------------------------------------------------------------------------------------------

In [11]:
import pandas as pd
l=["hari","ram"]
d1={'data1':'java','data2':'python','data3':None}
s1=pd.Series(d1)
print(s1.index)
print(s1.shape)
print(s1.dtype)
print(s1.size)
print(s1.empty)
print(s1.hasnans)
print(s1.nbytes)
print(s1.ndim)

Index(['data1', 'data2', 'data3'], dtype='object')
(3,)
object
3
False
True
24
1

In [26]:
import numpy as np
import pandas as pd
#a=np.array([1,2,3,np.NaN])
s1=pd.Series(a)
#x=pd.Series([1,2,3,np.NaN,np.NaN],index=['a','b','c','d','e'])
x=pd.Series([1,2,3,4,5,np.NaN])
print(s1.hasnans)
print(x)
print(x.std())
print(x.max())
print(x.unique())

True
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64
1.5811388300841898
5.0
[ 1.  2.  3.  4.  5. nan]

In [27]:
import numpy as np
import pandas as pd

data={
    "calories":[420,380,390],
    "duration":[50,40,45],
    "one":[1,2,3],
    "two":[1,2,3]
}

df = pd.DataFrame(data)

print(df)

print(df['one'])

   calories  duration  one  two
0       420        50    1    1
1       380        40    2    2
2       390        45    3    3
0    1
1    2
2    3
Name: one, dtype: int64