In [53]:
"""1.Write a Python program to read a CSV data file and store records in an array."""
import numpy as np
import pandas as pd
#a=np.array([])
filename="data.csv"
df=pd.read_csv(filename)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [54]:
"""2. Write a NumPy program to convert Pandas dataframe to Numpy array with headers."""
df.to_numpy()

array([[  60. ,  110. ,  130. ,  409.1],
       [  60. ,  117. ,  145. ,  479. ],
       [  60. ,  103. ,  135. ,  340. ],
       [  45. ,  109. ,  175. ,  282.4],
       [  45. ,  117. ,  148. ,  406. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  110. ,  136. ,  374. ],
       [  45. ,  104. ,  134. ,  253.3],
       [  30. ,  109. ,  133. ,  195.1],
       [  60. ,   98. ,  124. ,  269. ],
       [  60. ,  103. ,  147. ,  329.3],
       [  60. ,  100. ,  120. ,  250.7],
       [  60. ,  106. ,  128. ,  345.3],
       [  60. ,  104. ,  132. ,  379.3],
       [  60. ,   98. ,  123. ,  275. ],
       [  60. ,   98. ,  120. ,  215.2],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,   90. ,  112. ,    nan],
       [  60. ,  103. ,  123. ,  323. ],
       [  45. ,   97. ,  125. ,  243. ],
       [  60. ,  108. ,  131. ,  364.2],
       [  45. ,  100. ,  119. ,  282. ],
       [  60. ,  130. ,  101. ,  300. ],
       [  45. ,  105. ,  132. ,  246. ],
       [  60. ,  102. ,  126. ,  334.5],
       [  60. ,  100. ,  120. ,  250. ],
       [  60. ,   92. ,  118. ,  241. ],
       [  60. ,  103. ,  132. ,    nan],
       [  60. ,  100. ,  132. ,  280. ],
       [  60. ,  102. ,  129. ,  380.3],
       [  60. ,   92. ,  115. ,  243. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,  101. ,  124. ,  299. ],
       [  60. ,   93. ,  113. ,  223. ],
       [  60. ,  107. ,  136. ,  361. ],
       [  60. ,  114. ,  140. ,  415. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,  104. ,  129. ,  266. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,   98. ,  126. ,  286. ],
       [  60. ,  100. ,  122. ,  329.4],
       [  60. ,  111. ,  138. ,  400. ],
       [  60. ,  111. ,  131. ,  397. ],
       [  60. ,   99. ,  119. ,  273. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  45. ,  111. ,  136. ,  300. ],
       [  45. ,  108. ,  129. ,  298. ],
       [  60. ,  111. ,  139. ,  397.6],
       [  60. ,  107. ,  136. ,  380.2],
       [  80. ,  123. ,  146. ,  643.1],
       [  60. ,  106. ,  130. ,  263. ],
       [  60. ,  118. ,  151. ,  486. ],
       [  30. ,  136. ,  175. ,  238. ],
       [  60. ,  121. ,  146. ,  450.7],
       [  60. ,  118. ,  121. ,  413. ],
       [  45. ,  115. ,  144. ,  305. ],
       [  20. ,  153. ,  172. ,  226.4],
       [  45. ,  123. ,  152. ,  321. ],
       [ 210. ,  108. ,  160. , 1376. ],
       [ 160. ,  110. ,  137. , 1034.4],
       [ 160. ,  109. ,  135. ,  853. ],
       [  45. ,  118. ,  141. ,  341. ],
       [  20. ,  110. ,  130. ,  131.4],
       [ 180. ,   90. ,  130. ,  800.4],
       [ 150. ,  105. ,  135. ,  873.4],
       [ 150. ,  107. ,  130. ,  816. ],
       [  20. ,  106. ,  136. ,  110.4],
       [ 300. ,  108. ,  143. , 1500.2],
       [ 150. ,   97. ,  129. , 1115. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  90. ,  100. ,  127. ,  700. ],
       [ 150. ,   97. ,  127. ,  953.2],
       [  45. ,  114. ,  146. ,  304. ],
       [  90. ,   98. ,  125. ,  563.2],
       [  45. ,  105. ,  134. ,  251. ],
       [  45. ,  110. ,  141. ,  300. ],
       [ 120. ,  100. ,  130. ,  500.4],
       [ 270. ,  100. ,  131. , 1729. ],
       [  30. ,  159. ,  182. ,  319.2],
       [  45. ,  149. ,  169. ,  344. ],
       [  30. ,  103. ,  139. ,  151.1],
       [ 120. ,  100. ,  130. ,  500. ],
       [  45. ,  100. ,  120. ,  225.3],
       [  30. ,  151. ,  170. ,  300. ],
       [  45. ,  102. ,  136. ,  234. ],
       [ 120. ,  100. ,  157. , 1000.1],
       [  45. ,  129. ,  103. ,  242. ],
       [  20. ,   83. ,  107. ,   50.3],
       [ 180. ,  101. ,  127. ,  600.1],
       [  45. ,  107. ,  137. ,    nan],
       [  30. ,   90. ,  107. ,  105.3],
       [  15. ,   80. ,  100. ,   50.5],
       [  20. ,  150. ,  171. ,  127.4],
       [  20. ,  151. ,  168. ,  229.4],
       [  30. ,   95. ,  128. ,  128.2],
       [  25. ,  152. ,  168. ,  244.2],
       [  30. ,  109. ,  131. ,  188.2],
       [  90. ,   93. ,  124. ,  604.1],
       [  20. ,   95. ,  112. ,   77.7],
       [  90. ,   90. ,  110. ,  500. ],
       [  90. ,   90. ,  100. ,  500. ],
       [  90. ,   90. ,  100. ,  500.4],
       [  30. ,   92. ,  108. ,   92.7],
       [  30. ,   93. ,  128. ,  124. ],
       [ 180. ,   90. ,  120. ,  800.3],
       [  30. ,   90. ,  120. ,   86.2],
       [  90. ,   90. ,  120. ,  500.3],
       [ 210. ,  137. ,  184. , 1860.4],
       [  60. ,  102. ,  124. ,  325.2],
       [  45. ,  107. ,  124. ,  275. ],
       [  15. ,  124. ,  139. ,  124.2],
       [  45. ,  100. ,  120. ,  225.3],
       [  60. ,  108. ,  131. ,  367.6],
       [  60. ,  108. ,  151. ,  351.7],
       [  60. ,  116. ,  141. ,  443. ],
       [  60. ,   97. ,  122. ,  277.4],
       [  60. ,  105. ,  125. ,    nan],
       [  60. ,  103. ,  124. ,  332.7],
       [  30. ,  112. ,  137. ,  193.9],
       [  45. ,  100. ,  120. ,  100.7],
       [  60. ,  119. ,  169. ,  336.7],
       [  60. ,  107. ,  127. ,  344.9],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   98. ,  122. ,  271. ],
       [  60. ,   97. ,  124. ,  275.3],
       [  60. ,  109. ,  127. ,  382. ],
       [  90. ,   99. ,  125. ,  466.4],
       [  60. ,  114. ,  151. ,  384. ],
       [  60. ,  104. ,  134. ,  342.5],
       [  60. ,  107. ,  138. ,  357.5],
       [  60. ,  103. ,  133. ,  335. ],
       [  60. ,  106. ,  132. ,  327.5],
       [  60. ,  103. ,  136. ,  339. ],
       [  20. ,  136. ,  156. ,  189. ],
       [  45. ,  117. ,  143. ,  317.7],
       [  45. ,  115. ,  137. ,  318. ],
       [  45. ,  113. ,  138. ,  308. ],
       [  20. ,  141. ,  162. ,  222.4],
       [  60. ,  108. ,  135. ,  390. ],
       [  60. ,   97. ,  127. ,    nan],
       [  45. ,  100. ,  120. ,  250.4],
       [  45. ,  122. ,  149. ,  335.4],
       [  60. ,  136. ,  170. ,  470.2],
       [  45. ,  106. ,  126. ,  270.8],
       [  60. ,  107. ,  136. ,  400. ],
       [  60. ,  112. ,  146. ,  361.9],
       [  30. ,  103. ,  127. ,  185. ],
       [  60. ,  110. ,  150. ,  409.4],
       [  60. ,  106. ,  134. ,  343. ],
       [  60. ,  109. ,  129. ,  353.2],
       [  60. ,  109. ,  138. ,  374. ],
       [  30. ,  150. ,  167. ,  275.8],
       [  60. ,  105. ,  128. ,  328. ],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   97. ,  131. ,  270.4],
       [  60. ,  100. ,  120. ,  270.4],
       [  60. ,  114. ,  150. ,  382.8],
       [  30. ,   80. ,  120. ,  240.9],
       [  30. ,   85. ,  120. ,  250.4],
       [  45. ,   90. ,  130. ,  260.4],
       [  45. ,   95. ,  130. ,  270. ],
       [  45. ,  100. ,  140. ,  280.9],
       [  60. ,  105. ,  140. ,  290.8],
       [  60. ,  110. ,  145. ,  300. ],
       [  60. ,  115. ,  145. ,  310.2],
       [  75. ,  120. ,  150. ,  320.4],
       [  75. ,  125. ,  150. ,  330.4]])

In [55]:
"""3. Write a Pandas program to read a dataset from diamonds values and print the first 6 rows diamonds
DataFrame."""
file="diamonds.csv"
a=pd.read_csv(file)
b=a.head(6)
b

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [56]:
"""4.Calculate count, minimum, maximum price for each cut of diamonds DataFrame DataFrame.
DataFrame."""
print(a.groupby('cut').price.agg(["count","min","max"]))

           count  min    max
cut
Fair        1610  337  18574
Good        4906  327  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12082  336  18818

In [57]:
"""5. Print the summary of the dataframe"""
a.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [58]:
"""6.Calculate mean of each numeric column in the diamond dataframe"""
mean=a[['carat','depth','table','price','x','y','z']].mean()
print('the mean of all columns are:\n',mean)

the mean of all columns are:
 carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734526
z           3.538734
dtype: float64

In [59]:
"""7. Count the duplicates of dataframe and create a new dataframe after removing duplicates."""
a.duplicated().sum()
a1=a.drop_duplicates()
a1

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53794 rows x 10 columns]