In [11]:
## FInding th√© current directory path

In [38]:
##pip install --ignore-installed --upgrade jupyter import os #os module provides access to system features,

#Linear algebra

import numpy as np

#data processing

import pandas as pd

#data visualization

import seaborn as sns #Seaborn: Python's Statistical Data Visualization Library

sns.set_style('whitegrid')

sns.set(color_codes=True)

#Matplotlib tutorial takes you through the basics Python data visualization

%matplotlib inline

import matplotlib.pyplot as plt #visualisation from matplotlib import pyplot as plt

from matplotlib import style

%matplotlib inline

plt.style.use('fivethirtyeight')

#Algorithms

#Scikit-Learn (formerly scikits. Learn and also known as skLearn)
#Scikit-Learn is a free software machine Learning Library for the Python programming Language import math #math module is a standard module in Python and is al
import warnings

warnings.filterwarnings('ignore')

import math #math module is a standard module in python and is always avilable
A="DONE"
print(A)

DONE

In [6]:
import os;
cwd = os.getcwd()
print(cwd)

C:\Users\Dhira\Documents\Machine learning

In [5]:
import os;
cwd = os.chdir('C:\Users\Dhira\OneDrive\Documents\test')
print(cwd)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2707314043.py, line 2)

In [9]:
import pandas as pd
Carsdata=pd.read_csv("Carsdata.csv")
print(Carsdata)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

In [10]:
print(Carsdata.shape)

(11914, 16)

In [12]:
print(len(Carsdata.columns))

16

In [13]:
total_rows=len(Carsdata.axes[0])
print(total_rows)

11914

In [14]:
total_cols=len(Carsdata.axes[1])
print(total_cols)

16

In [15]:
Carsdata.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [16]:
Carsdata

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [17]:
Carsdata.tail(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [18]:
Carsdata.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [20]:
Carsdata.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [21]:
##Droping irrelevent columns

In [25]:
Carsdata=Carsdata.drop(["Engine Fuel Type","Market Category","Vehicle Style","Popularity","Number of Doors","Vehicle Size"],axis=1)

In [26]:
Carsdata.shape

(11914, 10)

In [27]:
Carsdata.size

119140

In [28]:
Carsdata.sample(5) // will give 5 random results from dataframe

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
3357,Mazda,CX-5,2014,184.0,4.0,AUTOMATIC,front wheel drive,32,25,27820
11364,Bugatti,Veyron 16.4,2009,1001.0,16.0,AUTOMATED_MANUAL,all wheel drive,14,8,1705769
2327,Chevrolet,Captiva Sport,2015,180.0,4.0,AUTOMATIC,front wheel drive,28,20,29505
834,Saab,9-3,2009,210.0,4.0,AUTOMATIC,all wheel drive,27,17,36395
11581,Volvo,XC60,2015,325.0,6.0,AUTOMATIC,all wheel drive,24,17,46950

In [30]:
Carsdata = Carsdata.rename(columns={"Engine HP":"HP","Engine Cylinders":"Cylinders","Trasmission type":"TRansmission","Driven Wheels":"Drive Mode","highway MPG":"MPG-H","city mpg":"MPG-C","MSRP":"Price"})

In [31]:
Carsdata

,Make,Model,Year,HP,Cylinders,Transmission Type,Driven_Wheels,MPG-H,MPG-C,Price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,all wheel drive,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,all wheel drive,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,front wheel drive,26,17,28995

In [33]:
Carsdata = Carsdata.drop_duplicates()

In [34]:
## checking health of data

In [35]:
#Univariate : Continious : Numerica EDA 
Carsdata.describe()

,Year,HP,Cylinders,MPG-H,MPG-C,Price
count,10925.000000,10856.000000,10895.000000,10925.000000,10925.000000,1.092500e+04
mean,2010.917895,254.399503,5.668196,26.654737,19.770801,4.249660e+04
std,7.016102,109.771351,1.799464,9.031109,9.259532,6.205353e+04
min,1990.000000,55.000000,0.000000,12.000000,7.000000,2.000000e+03
25%,2007.000000,173.000000,4.000000,22.000000,16.000000,2.199500e+04
50%,2015.000000,240.000000,6.000000,25.000000,18.000000,3.092000e+04
75%,2016.000000,303.000000,6.000000,30.000000,22.000000,4.330000e+04
max,2017.000000,1001.000000,16.000000,354.000000,137.000000,2.065902e+06

In [36]:
Carsdata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Year,10925.0,2010.917895,7.016102,1990.0,2007.0,2015.0,2016.0,2017.0
HP,10856.0,254.399503,109.771351,55.0,173.0,240.0,303.0,1001.0
Cylinders,10895.0,5.668196,1.799464,0.0,4.0,6.0,6.0,16.0
MPG-H,10925.0,26.654737,9.031109,12.0,22.0,25.0,30.0,354.0
MPG-C,10925.0,19.770801,9.259532,7.0,16.0,18.0,22.0,137.0
Price,10925.0,42496.595698,62053.533610,2000.0,21995.0,30920.0,43300.0,2065902.0

In [39]:
from numpy.lib.nypio import load
from sklearn.datasets import load_irid
from sklearn.cluster import KMeans
iris=load_iris()
iris.target

ModuleNotFoundError: No module named 'numpy.lib.nypio'