In [1]:
l=[11,22,[33,44],[55,66,77]]

In [2]:
len(l)

4

In [4]:
l[2]

[33, 44]

In [5]:
l[2][1]

44

In [6]:
l=[[1,2],[3,4],[5,6]]

In [7]:
len(l)

3

In [8]:
len(l[0])

2

In [11]:
l=[]
r=int(input("How many rows"))
c=int(input("How many columns"))
for i in range(r):
    row=[]
    for j in range(c):
        x=int(input("Enter the element"))
        row.append(x)
    l.append(row)
print("List created is",l)

How many rows3
How many columns2
Enter the element1
Enter the element2
Enter the element3
Enter the element4
Enter the element5
Enter the element6
List created is [[1, 2], [3, 4], [5, 6]]

In [12]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [13]:
del l[8]

In [14]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
del l[3:7]

In [16]:
l

[1, 2, 3, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
del l

In [18]:
l

NameError: name 'l' is not defined

In [19]:
t=()
t

()

In [20]:
t=tuple()
t

()

In [21]:
t=(1)

In [22]:
t

1

In [23]:
type(t)

int

In [24]:
t=(1,)
t

(1,)

In [25]:
len(t)

1

In [26]:
t=tuple("cdac")

In [27]:
t

('c', 'd', 'a', 'c')

In [36]:
l=eval(input("Enter a tuple"))

Enter a tuple(1,2,3,4)

In [37]:
l

(1, 2, 3, 4)

In [38]:
x=1,2,'w','y'

In [39]:
x

(1, 2, 'w', 'y')

In [40]:
v1,v2,v3,v4=x
print(v1,v2,v3,v4)

1 2 w y

In [41]:
t=(100,1,67,-1,3)
t

(100, 1, 67, -1, 3)

In [42]:
a=sorted(t,reverse=true)

In [43]:
a

[-1, 1, 3, 67, 100]

In [44]:
t

(100, 1, 67, -1, 3)

In [45]:
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [47]:
a=tuple(sorted(t,reverse=True))

In [48]:
a

(100, 67, 3, 1, -1)

In [49]:
dict1={}

In [50]:
dict1

{}

In [52]:
dict1={[1,2]:3,"Java":5,"C":10}
dict1

TypeError: unhashable type: 'list'

In [53]:
dict1["Java"]

5

In [55]:
d={"CDAC":35,"CDIT":45,"NIC":20,"STQC":33}
for k in d:
    print(k,d[k])

CDAC 35
CDIT 45
NIC 20
STQC 33

In [56]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [57]:
d={"CDAC":35,"CDIT":45,"NIC":20,"STQC":33}
for i in d:
    print(i,d[i])

CDAC 35
CDIT 45
NIC 20
STQC 33

In [58]:
d["abc"]

KeyError: 'abc'

In [59]:
d.keys()

dict_keys(['CDAC', 'CDIT', 'NIC', 'STQC'])

In [60]:
d[0]

KeyError: 0

In [61]:
d.keys()

dict_keys(['CDAC', 'CDIT', 'NIC', 'STQC'])

In [62]:
list(d.keys())

['CDAC', 'CDIT', 'NIC', 'STQC']

In [63]:
d.values()

dict_values([35, 45, 20, 33])

In [64]:
d={}
d

{}

In [65]:
d=dict()
d

{}

In [66]:
d["name"]="John"
d

{'name': 'John'}

In [67]:
d['salary']=10000
d

{'name': 'John', 'salary': 10000}

In [68]:
d['age']=24
d

{'name': 'John', 'salary': 10000, 'age': 24}

In [69]:
d={}
type(d)

dict

In [70]:
s={}
type(s)

dict

In [71]:
s={1,2,3}
type(s)

set

In [72]:
emp=dict(zip(('name','age','salary'),('John',24,10000)))
emp

{'name': 'John', 'age': 24, 'salary': 10000}

In [73]:
emp['dept']="Sales"
emp

{'name': 'John', 'age': 24, 'salary': 10000, 'dept': 'Sales'}

In [74]:
emp['dept']='Finance'
emp

{'name': 'John', 'age': 24, 'salary': 10000, 'dept': 'Finance'}

In [75]:
del emp['dept']
emp

{'name': 'John', 'age': 24, 'salary': 10000}

In [76]:
'John' in emp

False

In [77]:
'John' in emp.values()

True

In [78]:
emp['name']

'John'

In [84]:
emp.get('dept',"Key not present")

'Key not present'

In [86]:
t=emp.items()
print(t)

dict_items([('name', 'John'), ('age', 24), ('salary', 10000)])

In [87]:
for k,v in t:
    print(k,":",v)

name : John
age : 24
salary : 10000

In [89]:
d=dict.fromkeys([1,2,3,4])
d

{1: None, 2: None, 3: None, 4: None}

In [90]:
d1=dict.fromkeys((1,2,3),(4,5,6))
d1

{1: (4, 5, 6), 2: (4, 5, 6), 3: (4, 5, 6)}

In [91]:
d={1:100,2:200,3:300}
d.setdefault(4,500)
d

{1: 100, 2: 200, 3: 300, 4: 500}

In [92]:
d.setdefault(4,4000)
d

{1: 100, 2: 200, 3: 300, 4: 500}

In [93]:
emp

{'name': 'John', 'age': 24, 'salary': 10000}

In [94]:
emp1={'name':"Divya","salary":50000,"dept":"Business"}

In [95]:
emp.update(emp1)
emp

{'name': 'Divya', 'age': 24, 'salary': 50000, 'dept': 'Business'}

In [99]:
emp.pop('dept',"Key is not present")

'Key is not present'

In [97]:
emp

{'name': 'Divya', 'age': 24, 'salary': 50000}

In [100]:
emp.popitem()

('salary', 50000)

In [101]:
emp

{'name': 'Divya', 'age': 24}

In [102]:
d={41:'Neha',12:'Srini',32:"Avnit",24:'Anna',15:'Shaji'}

In [103]:
keys=sorted(d)
keys

[12, 15, 24, 32, 41]

In [104]:
values=sorted(d.values())
values

['Anna', 'Avnit', 'Neha', 'Shaji', 'Srini']

In [106]:
d1=dict(zip(keys,values))
d1

{12: 'Anna', 15: 'Avnit', 24: 'Neha', 32: 'Shaji', 41: 'Srini'}

In [107]:
d1=sorted(d.items())
d1

[(12, 'Srini'), (15, 'Shaji'), (24, 'Anna'), (32, 'Avnit'), (41, 'Neha')]

In [108]:
d1=dict(sorted(d.items()))
d1

{12: 'Srini', 15: 'Shaji', 24: 'Anna', 32: 'Avnit', 41: 'Neha'}