In [15]:
addTwoNumbers(3,4)

7

In [17]:
a = [1,2,3]

In [18]:
type(a)

list

In [21]:
 b=(1,2,3)

In [22]:
type( b )

tuple

In [27]:
c = [1,22,3]

In [28]:
type( c )

list

In [30]:
price = 600
if price > 500 :
    print("cheap");
else:
    print("expensive")

cheap

In [33]:
#The continue Statement
#With the continue statement we can stop the current iteration of the loop, and continue with the next:
#in this case skip printing Thursday
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday", "Sunday"]
for days in week_days:
  
  if days == "Thursday":
   continue
  print(days)

Monday
Tuesday
Wednesday
Friday
Saturday
Sunday

In [34]:
#With the break statement we can stop the loop before it has looped through all the items:
#Stop on Thursday
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday","Saturday", "Sunday"]
for days in week_days:
  print(days)
  if days == "Thursday":
   break

Monday
Tuesday
Wednesday
Thursday

In [35]:
# Python program to print the list of all keywords
# importing the module keyword
import keyword
# printing the keywords
print("Python's keywords are...")
print(keyword.kwlist)

Python's keywords are...
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [36]:
import keyword

if __name__ == '__main__':
	#get all keywords
	keywords = keyword.kwlist
	#print the keywords
	for key in keywords:
		print(key)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [37]:
#Multiple assigment operators
#start by assigning working_hours
working_hours = 25
working_hours+=1 #working_hours = working_hours +1
print(working_hours)

working_hours-=23
print(working_hours)

working_hours=30
working_hours/=6
print(working_hours)

working_hours *=2.3
print(working_hours)

26
3
5.0
11.5

In [38]:
#The while Loop
#With the while loop we can execute a set of statements as long as a condition is true.
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  print(Indian_Covid_Cases)
  Indian_Covid_Cases += 1

2017
2018
2019
2020
2021
2022
2023
2024

In [39]:
#The break Statement
#With the break statement we can stop the loop even if the while condition is true:
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  print(Indian_Covid_Cases)
  if Indian_Covid_Cases == 2022:
   break
  Indian_Covid_Cases += 1

2017
2018
2019
2020
2021
2022

In [40]:
#The continue Statement
#With the continue statement we can stop the current iteration, and continue with the next:
#Here we stop at Year 2022 and continue
Indian_Covid_Cases = 2017
while Indian_Covid_Cases < 2025:
  Indian_Covid_Cases += 1
  if Indian_Covid_Cases == 2022:
   continue
  print(Indian_Covid_Cases)

2018
2019
2020
2021
2023
2024
2025

In [41]:
#From 'Just enough Python', modified
while True: # this is an infinite loop 
    command=input('Enter command:') 
    if len(command)==0: # no command - try again 
     continue # goes to next loop (line 1) 
    elif command=='exit': # user exit 
         print('Goodbye') 
         break # skips to line 10 
    else: 
        print("Execute the Command") 
print('bye')

Enter command:2
Execute the Command
Enter command:2
Execute the Command
Enter command:1
Execute the Command
Enter command:
Enter command:
Enter command:1
Execute the Command
Enter command:
Enter command:1
Execute the Command
Enter command:uio
Execute the Command
Enter command:exit
Goodbye
bye

In [42]:
## different number systems from https://www.datacamp.com/tutorial/role-underscore-python '_'  operator
## you can also check whether they are correct or not by coverting them into integer using "int" method
million = 1_000_000
binary = 0b_0010
octa = 0o_64
hexa = 0x_23_ab

print(million)
print(binary)
print(octa)
print(hexa)

1000000
2
52
9131

In [43]:
#modified from https://www.log2base2.com/programming-language/python3/conditional/nested-if-else-statement-in-python.html
Suppose a student's grade selection is based on scores below:

if the score is more than 90, student will get the S grade

If the score is in between 80 and 90, student gets A grade

If the score is in between 70 and 80, student gets B grade

If the score is in between 60 and 70, student gets C grade

If the score is in between 51 and 60, student gets D grade

If the score is 50, student gets get E grade

Below 50 student will be declared as failed.

SyntaxError: unterminated string literal (detected at line 2) (3349062583.py, line 2)

In [55]:
score = 51;
if score>90:
    print("s Grade");
if 90>=score>=80: 
    print("A grade");
if 80>=score>=70:
    print("B Grade");
if(70>=score>=60):
    print("c Grade");
if(70>=score>=60):
    print("D Grade");
if(60>=score>=51):
    print("E Grade");
else:
    print("failed")

E Grade

In [65]:
score = int(input("Enter Your Score\n"))
if score>90:
    print("s Grade");
elif 90>score>80: 
    print("A grade");
elif 80>score>70:
    print("B Grade");
elif(70>score>60):
    print("c Grade");
elif(70>score>60):
    print("D Grade");
elif(60>score>51):
    print("E Grade");
else:
    print("failed")

Enter Your Score
70
failed

In [69]:
thisdict= {"name":"Dhiraj",
        "residance":"Dombivali",
        "Edu":"Engineer",
        "Age":25
       }

In [70]:
print( thisdict )

{'name': 'Dhiraj', 'residance': 'Dombivali', 'Edu': 'Engineer', 'Age': 25}

In [71]:
print(type(thisdict))

<class 'dict'>

In [72]:
age = 25

In [73]:
print(type(age))

<class 'int'>

In [80]:
type(age)

int

In [81]:
age = int(input("enter your age\n"))
if age == 25: 
    print("is this dhiraj?")
else:
    print("you are definitely not dhiraj")

enter your age
25
is this dhiraj?

In [ ]:
========================================day  2======================================================

In [1]:
telecom_towers = 200 
service_provider='QuickTel' 
'%s has %d telecom towers in Mysore city' % (service_provider,telecom_towers)

'QuickTel has 200 telecom towers in Mysore city'

In [3]:
cannon_length = 32.23189
'cannon_length= %.2f cm' % cannon_length #.2f two decimal places

'cannon_length= 32.23 cm'

In [ ]:
# concatenation of strings
text = 'Writetext'
nums = 'A19982737456'

In [6]:

#''.join((text,nums)) #immediate join no space,
' '.join((text,nums)) # join with a space character in the middle

NameError: name 'text' is not defined

In [7]:
# case changing

text = 'Writetext'
text.upper()
text.lower()

'writetext'

In [8]:
#The split() method splits a string into a list.
text = 'what is the time'
text.split(' ') #Pass a separator, space

['what', 'is', 'the', 'time']

In [12]:
name= 'dhiraj vasant johare'
name.split(' ')

['dhiraj', 'vasant', 'johare']

In [13]:
help('split')

No Python documentation found for 'split'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [16]:
help ('string')

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.10/library/string.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(self, format_string, /, *args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(self, mapping={}, /, **kws)
     |
     |  substitute(self, mapping={}, /, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __init_subclass__() from builtins.type
     |      This method is called when a class is subclassed.
     |
     |      The default implementation does nothing. It may be
     |      overridden to extend subclasses.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = re.IGNORECASE
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n            \\$(?:\n              ...identifie...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    c:\program files\python310\lib\string.py

In [21]:
text = 'dhiraj is engineer'

In [22]:
# substitution
text.replace('is','was')

'dhiraj was engineer'

In [26]:
# stripping
text = '  what is the time  '
#text.rstrip()
#text.lstrip()
text.strip()

'what is the time'

In [ ]:
#The purpose of a list is to store values that are collected and processed in sequence, such as 
#lines of text read from or written to a text file, or where prepared values are looked up by 
#their position or offset in the array. 
#You will find yourself using list of the time

In [27]:
#Creating Lists is straighforward. You stick in strings within quotes and enclosed in square brackets
look_up_list = [] #empty list
famous_footballers=['Zidane','Maradona','Messi', 'Pele']
mixed_list = [1,2,3,'four']
embedded_list = [1,2,3,[4,5,6]]

In [33]:
#You can find the length of lists using the len() function. The length is the number 
#of elements in the list. The last element index of a list mylist would be accessed as 
#some_list[len(some_list)-1]. 
l = len(famous_footballers)
print(l)

4

In [30]:
print(famous_footballers[len(famous_footballers)-1])

Pele

In [38]:
print(famous_footballers[-2])

Messi

In [39]:
#mixed_list[0]
#mixed_list[3]

mixed_list[1:4]

[2, 3, 'four']

In [40]:
#embedded_list[2]
embedded_list[3]
#embedded_list[3][2]

[4, 5, 6]

In [49]:
#Updating Lists 
# Use the append() method to add entries to the end of a list. Use the del statement to 
#delete an entry. For example: 
look_up_list = [] #empty list
look_up_list.append('Good')
look_up_list.append('Bad')
look_up_list.append('Ugly')

In [47]:
embedded_list = [1,2,3,[4,5,6]]

In [50]:
look_up_list
#Change an entry in the list
look_up_list[1]='Smooth'
look_up_list

['Good', 'Smooth', 'Ugly']

In [51]:
#Delete an entry in the list
del look_up_list[1]
look_up_list

['Good', 'Ugly']

In [117]:
#Nested Directory
thefamily = {
  "child1" : {
    "name" : "Pranav",
    "year" : 2004
  },
  "child2" : {
    "name" : "Pooja",
    "year" : 2007
  },
  "child3" : {
    "name" : "Dev",
    "year" : 2011
  }
}

In [119]:
print(thefamily)

{'child1': {'name': 'Pranav', 'year': 2004}, 'child2': {'name': 'Pooja', 'year': 2007}, 'child3': {'name': 'Dev', 'year': 2011}}

In [141]:
"""Define a procedure histogram() that takes a list of 
integers and prints a histogram to the screen. For example, 
histogram([4, 9, 7]) should print the following:"""
histogram = [4,9,7]
for i in histogram:
    print('*'*i)

****
*********
*******