In [3]:
def add(x,y):  #function header
    s=x+y
    print("Sum=",s)

a=int(input("first number"))
b=int(input("second number"))    
add(a,b)

first number1
second number2

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [7]:
def calculateintrest(p,n,r=0.10):
    i=p*n*r
    print("SI=",i)
calculateintrest(1000,2,0.08)

SI= 160.0

In [5]:
calculateintrest(1000,2)

SI= 200.0

In [8]:
calculateintrest()

SI= 1500.0

In [9]:
def calculateintrest(p,n,r=0.10):
    i=p*n*r
    print("SI=",i)

calculateintrest(n=5,p=3000)

SI= 1500.0

In [11]:
def calculate(x,y,z=2,r=1.5):
    print(x+y+z+r)

calculate(5000,x=3,y=2)

TypeError: calculate() got multiple values for argument 'x'

In [14]:
def add(x,y):  #function header
    
    return x+y

a=int(input("first number"))
b=int(input("second number"))    
#k=add(a,b)
print("sum=",add(a,b))

first number6
second number5
sum= 11

In [16]:
def func(a,b):
    if a%b==0:
        return
    print("a=",a,"b=",b)
    
func(4,2)

In [17]:
def square(a,b):
    return a*a,b*b

t=square(2,4)
print(t)

(4, 16)

In [18]:
def square(a,b):
    return a*a,b*b

x,y=square(2,4)
print(x,y)

4 16

In [19]:
def add(x,y):  #function header
    s=x+y
    return s

a=int(input("first number"))
b=int(input("second number"))    
r=add(a,b)

first number1
second number2

In [20]:
def calcsum(a,b,c):
    s=a+b+c
    return s
def average(x,y,z):
    sm=calcsum(x,y,z)
    return sm/3
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter first number"))
print(average(num1,num2,num3))

Enter first number1
Enter second number2
Enter first number3
2.0

In [21]:
def calcsum(x,y):
    s=x+y
    print(num1)
    return s
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
print("sum=",calcsum(num1,num2))

Enter first number10
Enter second number12
10
sum= 22

In [22]:
def welcome():
    print("Hello",name)
welcome()

NameError: name 'name' is not defined

In [23]:
def f1():
    a=15
    print("a in function", a)
a=100
print("a in top level",a)
f1()
print("a in top level",a)

a in top level 100
a in function 15
a in top level 100

In [24]:
def f1():
    global a
    a=15
    print("a in function", a)
a=100
print("a in top level",a)
f1()
print("a in top level",a)

a in top level 100
a in function 15
a in top level 15

In [25]:
def add(a,b):
	return a+b
add(100,9)

109

In [26]:
add=lambda a,b:a+b
add(2,3)

5

In [27]:
(lambda a,b:a+b)(30,79)  #iife- immediately invoked function expression

109

In [28]:
add=lambda a,b,c=7:a+b+c
add(b=6,a=12)

25

In [36]:
def func(*args):
    sum1=0
    for i in args:
        sum1+=i
    print(type(args))
    print("Sum=",sum1)

func(10,20,30,40)

<class 'tuple'>
Sum= 100

In [33]:
func(10,6)

Sum= 16

In [34]:
add=lambda *args: sum(args)
add(1,2,3,4,5,6,7)

28

In [35]:
add(1,2)

3

In [37]:
h=lambda x,f : x+f(x)

h(8,lambda x:x*x)

72

In [38]:
substring=lambda string :string in "Iam studying Python"
substring("Python")

True

In [39]:
k=lambda x:"even" if (x%2==0) else "odd"
k(110)

'even'

In [40]:
k(1)

'odd'